header {
  background-image: linear-gradient(120deg, #222222, #171717);
  margin: 10px 10px 50px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 3.5rem;
  font-family: 'Roboto';
  padding: 50px;
}
